#Main{
    background: rgb(255, 255, 255);
}
.Left_Side{
    width: 100%;
    background: rgba(255, 255, 255, 0.11);
}

.Total-Container{
    display: flex;
}
.crickter-container{
    width: 60%;
    border-right: 1px solid lightgrey;
    margin-left: 100px;
}