.Player_Images{
    height: 200px;
    width: 200px;
    border-radius: 5px;
}
.Player_Name{
    font-size: 32px;
    font-weight: bold;
    color: rgb(77, 77, 77);
    margin-bottom: 5px;
}
.Player_Salary{
    font-size: 17px;
    font-weight: 500;
    color: rgb(92, 92, 92);
}
.Select_Button{
    height: 40px;
    width: 150px;
    margin-top: 10px;
    border: 2px solid white;
    border-radius: 25px;
    font-weight: 500;
    color: rgb(90, 90, 90);
    background: rgb(211, 255, 145);
    transition: all .3s ease-in-out;
}
.Select_Button:hover{
    color: black;
    background: greenyellow;
    box-shadow: 0px 0px 10px rgb(143, 143, 143);
}
#card{
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: rgb(253, 255, 242);
    border-radius: 5px;
    border: 2px solid rgb(248, 248, 248);
}
@media (max-width:422px) {
    .Player_Name{
        font-size: 18px;
        margin-top: 10px;
        text-align: center;
    }
    .Player_Salary{
        text-align: center;
    }
    .Select_Button{
        height: 30px;
        width: 100px;
        margin-left: 30px;
    }
    .Player_Images{
        width: 150px;
        height: 150px;
    }
    
}